In [1]:
import pandas as pd
import numpy as np

In [2]:
file = "Resources/purchase_data.csv"

In [3]:
PO = pd.read_csv(file, encoding='ISO-8859-1')

In [4]:
PO.head(20)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44
5,5,Yalae81,22,Male,81,Dreamkiss,3.61
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67
8,8,Undjask33,22,Male,21,Souleater,1.10
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58
10,10,Inguron55,23,Male,95,Singed Onyx Warscythe,4.74
11,11,Haisrisuir60,23,Male,162,Abyssal Shard,2.67
12,12,Saelaephos52,21,Male,116,Renewed Skeletal Katana,4.18
13,13,Assjaskan73,22,Male,4,Bloodlord's Fetish,1.70
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89
16,16,Lisirra25,20,Male,40,Second Chance,2.52
17,17,Zontibe81,21,Male,161,Devine,1.76
18,18,Reunasu60,22,Female,82,Nirvana,4.90
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64

In [5]:
PO['SN'].value_counts()

Lisosia93       5
Idastidru52     4
Iral74          4
Silaera56       3
Iri67           3
               ..
Arirgue63       1
Poshilsa82      1
Lisirra87       1
Ceoral34        1
Thourdirra92    1
Name: SN, Length: 576, dtype: int64

In [6]:
unique_LIST = PO['Item Name'].unique()

In [7]:
NO_unique = len(unique_LIST)

In [8]:
average_Price = PO['Price'].mean()

In [9]:
average_Price

3.050987179487176

In [10]:
PO['Purchase ID'].count()

780

In [11]:
revenue = PO['Price'].sum()

In [12]:
revenue

2379.77

In [13]:
PO['Gender'].value_counts()

Male                     652
Female                   113
Other / Non-Disclosed     15
Name: Gender, dtype: int64

In [14]:
##DEMOGRAPHICS
male_df = PO[(PO.Gender == "Male")]
female_df = PO[(PO.Gender == "Female")]
other_df = PO[(PO.Gender == "Other / Non-Disclosed")]

In [15]:
male_df['Gender'].count() / PO['Gender'].count() * 100

83.58974358974359

In [16]:
female_df['Gender'].count() / PO['Gender'].count() * 100

14.487179487179489

In [17]:
other_df['Gender'].count() / PO['Gender'].count() * 100

1.9230769230769231

In [19]:
print ('Male Total ...', male_df['Price'].sum() ,'//' , 'Female Total...',female_df['Price'].sum(),'//' , 'other Total...',other_df['Price'].sum())

Male Total ... 1967.64 // Female Total... 361.94 // other Total... 50.19

In [20]:
print ('Male Mean Price...', male_df['Price'].mean(), '//','Female Mean Price...', female_df['Price'].mean(), '//','Other Mean Price...', other_df['Price'].mean())

Male Mean Price... 3.0178527607361953 // Female Mean Price... 3.203008849557519 // Other Mean Price... 3.3460000000000005

In [42]:
male_bins = []
newmf = male_df['Age'].unique()
newmf.sort()
binsNO = round(len(newmf)/4)

In [43]:
female_bins = []
newff = female_df['Age'].unique()
newff.sort()
FbinsNO = round(len(newff)/4)

other_bins = []
newof = other_df['Age'].unique()
newof.sort()
ObinsNO = round(len(newof)/4)

In [44]:
MsortedValues = [0]
for elem in newmf:
    MsortedValues.append(elem)

FsortedValues = [0]
for elem in newff:
    FsortedValues.append(elem)
    
OsortedValues = [0]
for elem in newof:
    OsortedValues.append(elem)

print(MsortedValues, '//', FsortedValues , '//', OsortedValues)

[0, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45] // [0, 7, 8, 10, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 29, 30, 32, 35, 39, 40] // [0, 15, 16, 20, 21, 24, 25, 35, 38]

In [45]:
for cut in MsortedValues[3::4]:
    #print (cut)
    male_bins.append(cut)
for cut in FsortedValues[3::4]:
    #print (cut)
    female_bins.append(cut)
for cut in OsortedValues[3::4]:
    #print (cut)
    other_bins.append(cut)

In [46]:
newmf

array([ 7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23,
       24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
       41, 42, 43, 44, 45], dtype=int64)

In [47]:
print (male_bins , '//', female_bins , '//', other_bins)

[9, 13, 17, 21, 25, 29, 33, 37, 41, 45] // [10, 17, 21, 25, 32] // [20, 35]

In [48]:
Mbinlabel=[]
Fbinlabel=[]
Obinlabel=[]
for n in range (0, len(male_bins)-1):
    Mbinlabel.append('Age Group up to ...' + str(male_bins[n+1]) )
    print(Mbinlabel)
for n in range (0, len(female_bins)-1):
    Fbinlabel.append('Age Group up to ...' + str(female_bins[n+1]) )
    print(Fbinlabel)
for n in range (0, len(other_bins)-1):
    Obinlabel.append('Age Group up to ...' + str(other_bins[n+1]) )
    print(Obinlabel)

['Age Group up to ...13']
['Age Group up to ...13', 'Age Group up to ...17']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...29']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...29', 'Age Group up to ...33']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...29', 'Age Group up to ...33', 'Age Group up to ...37']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...29', 'Age Group up to ...33', 'Age Group up to ...37', 'Age Group up to ...41']
['Age Group up to ...13', 'Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...29', 'Age Group up to ...33', 'Age Group up to ...37', 'Age Group up to ...41', 'Age Group up to ...45']
['Age Group up to ...17']
['Age Group up to ...17', 'Age Group up to ...21']
['Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25']
['Age Group up to ...17', 'Age Group up to ...21', 'Age Group up to ...25', 'Age Group up to ...32']
['Age Group up to ...35']

In [52]:
male_df['Age Group']= pd.cut(male_df['Age'], bins = len(male_bins)-1, labels=Mbinlabel)
female_df['Age Group']= pd.cut(female_df['Age'], bins = len(female_bins)-1, labels=Fbinlabel)
other_df['Age Group']= pd.cut(other_df['Age'], bins = len(other_bins)-1, labels=Obinlabel)

C:\Users\zigot\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\zigot\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\zigot\AppData\Local\Continuum\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [53]:
male_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Age Group up to ...25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Age Group up to ...41
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Age Group up to ...29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Age Group up to ...29
4,4,Iskosia90,23,Male,131,Fury,1.44,Age Group up to ...25

In [54]:
female_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,Age Group up to ...21
18,18,Reunasu60,22,Female,82,Nirvana,4.90,Age Group up to ...21
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,Age Group up to ...17
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,Age Group up to ...21
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,Age Group up to ...25

In [55]:
other_df.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,Age Group up to ...35
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,Age Group up to ...35
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,Age Group up to ...35
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,Age Group up to ...35
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,Age Group up to ...35

In [56]:
maleBIN = male_df.groupby('Age Group')
#maleBIN.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Age Group up to ...25
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,Age Group up to ...41
2,2,Ithergue48,24,Male,92,Final Critic,4.88,Age Group up to ...29
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,Age Group up to ...29
4,4,Iskosia90,23,Male,131,Fury,1.44,Age Group up to ...25
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,Age Group up to ...25
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,Age Group up to ...37
7,7,Iskjaskst81,20,Male,162,Abyssal Shard,2.67,Age Group up to ...25
8,8,Undjask33,22,Male,21,Souleater,1.10,Age Group up to ...25
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,Age Group up to ...37
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,Age Group up to ...33
23,23,Eyrian71,40,Male,151,Severance,3.40,Age Group up to ...41
24,24,Siala43,30,Male,141,Persuasion,3.19,Age Group up to ...33
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,Age Group up to ...33
26,26,Lirtossa84,11,Male,71,Demise,1.61,Age Group up to ...13
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,Age Group up to ...13
29,29,Tyida79,24,Male,37,"Shadow Strike, Glory of Ending Hope",3.16,Age Group up to ...29
30,30,Idai61,19,Male,140,Striker,2.94,Age Group up to ...21
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,Age Group up to ...41
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,Age Group up to ...13
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,Age Group up to ...13
34,34,Sondim73,19,Male,160,Azurewrath,4.40,Age Group up to ...21
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,Age Group up to ...33
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,Age Group up to ...13
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,Age Group up to ...21
43,43,Aelly27,24,Male,116,Renewed Skeletal Katana,4.18,Age Group up to ...29
44,44,Tyeosri53,24,Male,9,"Thorn, Conqueror of the Corrupted",2.73,Age Group up to ...29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,Age Group up to ...37
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,Age Group up to ...33
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,Age Group up to ...17
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,Age Group up to ...21
60,60,Yadanu52,34,Male,44,Bonecarvin Battle Axe,2.38,Age Group up to ...37
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,Age Group up to ...21
68,68,Indonmol95,15,Male,27,"Riddle, Tribute of Ended Dreams",3.30,Age Group up to ...17
75,75,Philodil43,33,Male,124,Venom Claymore,1.29,Age Group up to ...37
127,127,Lisossanya98,37,Male,102,Avenger,3.44,Age Group up to ...41
139,139,Lisasi93,13,Male,158,"Darkheart, Butcher of the Champion",2.45,Age Group up to ...17
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,Age Group up to ...41
165,165,Lirtassa52,15,Male,183,Dragon's Greatsword,1.09,Age Group up to ...17
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,Age Group up to ...45
262,262,Chamadar79,15,Male,172,Blade of the Grave,3.14,Age Group up to ...17
341,341,Hiasurria41,41,Male,71,Demise,1.61,Age Group up to ...45
477,477,Mindossa76,41,Male,173,Stormfury Longsword,4.93,Age Group up to ...45
557,557,Frichaya88,42,Male,8,"Purgatory, Gem of Regret",3.93,Age Group up to ...45
674,674,Aeral68,43,Male,77,"Piety, Guardian of Riddles",4.00,Age Group up to ...45

In [57]:
femaleBIN = female_df.groupby('Age Group')
#femaleBIN.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
15,15,Lisassa64,21,Female,98,"Deadline, Voice Of Subtlety",2.89,Age Group up to ...21
18,18,Reunasu60,22,Female,82,Nirvana,4.90,Age Group up to ...21
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,Age Group up to ...17
41,41,Assosia88,20,Female,7,"Thorn, Satchel of Dark Souls",1.33,Age Group up to ...21
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,Age Group up to ...25
66,66,Chanastsda67,21,Female,6,Rusty Skull,3.70,Age Group up to ...21
71,71,Hari50,20,Female,29,"Chaos, Ender of the End",1.98,Age Group up to ...21
72,72,Marilsa69,25,Female,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,Age Group up to ...25
76,76,Mindadaran26,13,Female,88,"Emberling, Defender of Delusions",3.75,Age Group up to ...17
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,Age Group up to ...17
85,85,Umolrian85,32,Female,33,Curved Axe,1.16,Age Group up to ...32
113,113,Phyali88,15,Female,140,Striker,2.94,Age Group up to ...17
119,119,Frichosia58,15,Female,87,"Deluge, Edge of the West",4.43,Age Group up to ...17
142,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48,Age Group up to ...32
177,177,Syathe73,30,Female,135,Warped Diamond Crusader,1.40,Age Group up to ...25
196,196,Maradaran90,35,Female,9,"Thorn, Conqueror of the Corrupted",2.73,Age Group up to ...32
210,210,Umolrian85,32,Female,136,Ghastly Adamantite Protector,3.58,Age Group up to ...32
225,225,Tyaenasti87,24,Female,154,Feral Katana,4.40,Age Group up to ...25
274,274,Aerithllora36,29,Female,82,Nirvana,4.90,Age Group up to ...25
436,436,Umolrian85,32,Female,80,Dreamsong,3.39,Age Group up to ...32

In [58]:
otherBIN = other_df.groupby('Age Group')
#otherBIN.head(5)

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,Age Group up to ...35
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,Age Group up to ...35
82,82,Haerithp41,16,Other / Non-Disclosed,160,Azurewrath,4.40,Age Group up to ...35
111,111,Sundim98,21,Other / Non-Disclosed,41,Orbit,4.75,Age Group up to ...35
228,228,Jiskirran77,20,Other / Non-Disclosed,80,Dreamsong,3.39,Age Group up to ...35

In [128]:

mbsum = maleBIN['Price'].sum().tolist()
fbsum = femaleBIN['Price'].sum().tolist()
obsum = otherBIN['Price'].sum().tolist()

In [70]:
male_df['SN'].count()

652

In [71]:
female_df['SN'].count()

113

In [72]:
other_df['SN'].count()

15

In [66]:
mbm = maleBIN['Price'].mean()
fbm = femaleBIN['Price'].mean()
obm = otherBIN['Price'].mean()

In [87]:
mbTotal = 0

for each in mbsum:
    #print (each[0])
    mbTotal = mbTotal + each

In [90]:
len(mbsum)

1

In [68]:
fbsum

[Age Group
 Age Group up to ...17     63.76
 Age Group up to ...21    198.77
 Age Group up to ...25     70.17
 Age Group up to ...32     29.24
 Name: Price, dtype: float64]

In [69]:
obsum

[Age Group
 Age Group up to ...35    50.19
 Name: Price, dtype: float64]

In [ ]:
mbc = [maleBIN['SN'].count()]
mbc

In [ ]:
maleAPT_df = pd.DataFrame(columns = ['User_Count', 'Spending'], index = binlabel)

maleAPT_df

In [ ]:
maleTotal_df = pd.DataFrame(mbsum)
maleTotal_df.head()

In [ ]:



total = 0 
for ag in mbsum :
   
    total = total + ag

In [ ]:
total

In [ ]:
maleAPT_df.head()

In [ ]:
maleTotal_df.head()

In [ ]:
maleAPT_df.merge(maleTotal_df, how = 'left')

In [ ]:
### Average Purchase Total per Person by Age Group

maleBIN.head(25)
#av_MBIN = male_df['Price'].mean()

In [ ]:
#av_MBIN.mean()
#male_ft.mean('SN')
av_MBIN.head()

In [ ]:
##Most Popular Item
APOS = PO.groupby('SN')['Price'].sum()
APOS.head()
#APOS.sort_values(ascending=False)

In [ ]:
APOF = PO.groupby('SN')['Item ID'].sum()